<div class="sub__menu__1">
    <ul>
        <li><a href="">Course 1</a></li>
        <li><a href="">Course 2</a></li>
        <li><a href="">Course 3</a></li>
        <li><a href="">Course 4</a></li>
        <li><a href="">Course 5</a></li>
        <li><a href="">Course 6</a></li>
        <li><a href="">Course 7</a></li>
        <li><a href="">Course 8</a></li>
    </ul>
</div>