<div class="container footer">
    <div class="row">
        <div class="col-md-4 footer__left">
            <div class="footer__logo">
                <div class="nav-brand"><h2><i class="fa-solid fa-graduation-cap"></i> Quiclearn</h2></div>
                <p>Quiclearn is India’s largest online learning platform. Download our apps to start learning</p>
            </div>
            <hr>
            <div class="footer__call">
                <h4>Starting your preparation?</h4>
                <p>Call us and we will answer all your questions about learning on Unacademy</p>
                <h4><i class="fa-solid fa-phone"></i> &nbsp; Call +91 8585858585</h4>
            </div>
        </div>
        <div class="col-md-8 footer__right">
            <div class="footer__boxes">
                <h5>Company</h5>
                <ol class="footer__items">
                    <li>About us</li>
                    <li>Careers</li>
                    <li>Blogs</li>
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                </ol>
            </div>
            <div class="footer__boxes">
                <h5>Help & support</h5>
                <ol class="footer__items">
                    <li>User Guidelines</li>
                    <li>Site Map</li>
                    <li>Refund Policy</li>
                    <li>Takedown Policy</li>
                    <li>Grievance Refdressal</li>
                </ol>
            </div>
            <div class="footer__boxes">
                <h5>Proucts</h5>
                <ol class="footer__items">
                    <li>Learner app</li>
                    <li>Educater app</li>
                    <li>Parent app</li>
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                </ol>
            </div>
            <div class="footer__boxes">
                <h5>Popular Goals</h5>
                <ol class="footer__items">
                    <li>UPSC</li>
                    <li>SSC</li>
                    <li>State PSCs</li>
                    <li>Banking</li>
                    <li>Railway</li>
                </ol>
            </div>
            <div class="footer__boxes">
                <h5>Trending Exams</h5>
                <ol class="footer__items">
                    <li>GATE</li>
                    <li>CAT</li>
                    <li>CA</li>
                    <li>NTA UGC NET</li>
                    <li>Bank Exams</li>
                </ol>
            </div>
            <div class="footer__boxes">
                <h5>Study Material</h5>
                <ol class="footer__items">
                    <li>UPSC Study Material</li>
                    <li>NET UG Study Material</li>
                    <li>CAT Foundation Study Material</li>
                    <li>JEE Study Material</li>
                    <li>SSC Study Material</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="main__footer">
        <div class="footer__date">
            © 
            <script type="text/javascript">
                var year = new Date();
                document.write(year.getFullYear());
            </script>
            Quiclearn Pvt Ltd
        </div>
        <div class="social__media__links">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
</div>

