<div class="white__bg__get__app">
    <div class="container get__the__app">
        <div class="row">
            <div class="col-md-6 app__content">
                <h2>Start your learning journey now!</h2>
                <h6>Learn ▶ Practice ▶ Improve ▶ Succeed</h6>
                <div class="app__buttons">
                    <button class="app__get__started" type="submit">Get Started</button>
                    <button class="app__download" type="submit"> <img src="https://testbook.com/assets/img/ui-kit/play-store.svg" alt="playstore"> Download App</button>
                </div>
            </div>
            <div class="col-md-6 app__img">
                <img src="https://testbook.com/assets/img/index/web-phone.png" alt="">
            </div>
        </div>
    </div>
</div>