<div class="hero__section">
    <div class="container">
    <div class="container row">
        <div class="h__content col-md-6">
            <div class="alert alert-danger m-0 text-center">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <b>Limited time offer! Till 30th August</b>
            </div>
            <h1>New to Quiclearn? <br> Lucky you</h1>
            <p>Courses start at ₹849. Get your new student offer before it expires.</p>
        </div>
        <div class="h__img col-md-6"></div>
    </div>
    </div>
</div>
<div class="container">
    <div class="container banner">
        <div class="row">
            <div class="col-md-3 banner__box trusted__box">
                {{!-- icon --}}
                <i class="fa-solid fa-circle-check"></i>
                <div class="banner__content">
                    <p>Trusted by</p>
                    <h4>3 Crore+ Students</h4>
                </div>
            </div>
            <div class="col-md-3 banner__box">
                {{!-- icon --}}
                <i class="fa-solid fa-trophy"></i>
                <span _ngcontent-serverapp-c57="" class="icon icon-trophy"></span>
                <div class="banner__content">
                    <p>Students Selections</p>
                    <h4>50k+</h4>
                </div>
            </div>
            <div class="col-md-3 banner__box">
                {{!-- icon --}}
                <i class="fa-solid fa-list-check"></i>
                <div class="banner__content">
                    <p>Tests Attempted</p>
                    <h4>242 Crore+</h4>
                </div>
            </div>
            <div class="col-md-3 banner__box">
                {{!-- icon --}}
                <i class="fa-solid fa-table-list"></i>
                <div class="banner__content">
                    <p>Classes Attended</p>
                    <h4>5.5 Crore+</h4>
                </div>
            </div>
        </div>
    </div>
</div>

