{{!-- navbar copied line --}}
        <div class="person__details">
            <div _ngcontent-serverapp-c69="" class="card__profile">
                <img _ngcontent-serverapp-c69="" height="90" width="90" alt="Ram" title="Ram" class="  ng-lazyloaded" src="{{img_src}}">
            </div>
            <div class="person__content">
                <div class="person__name">{{ranker_name}}</div>
                <div class="person__rank">{{ranker_rank}}</div>
            </div>
        </div>